* {
    box-sizing: border-box;
}

html, body { margin: 0; padding: 0; }

ul, li { margin: 0px; padding: 0px; list-style: none; }
#board { width: 80%; background: url(img/bg.jpg) no-repeat; background-size: contain; position: relative; font: 1vw Arial; }
#boardRatio { width: 100%; padding-bottom: 59%; z-index: -10; }

#loc0 { width: 13%; height: 20%; left:56.5%; top: 39%; }
#loc1 { width: 13%; height: 20%; left:56.5%; top: 60.0%; }
#loc2 { width: 13%; height: 18.0%; left:56.5%; top: 82%; }
#loc3 { width: 12.5%; height: 18.0%; left:43.0%; top: 82%; }
#loc4 { width: 12.5%; height: 18.0%; left:29.5%; top: 82%; }
#loc5 { width: 12.5%; height: 18.0%; left:15.2%; top: 82%; }
#loc6 { width: 14%; height: 18.0%; left:0%; top: 82%; }
#loc7 { width: 14%; height: 20%; left:0%; top: 60.0%; }
#loc8 { width: 14%; height: 20%; left:0%; top: 39%; }
#loc9 { width: 14%; height: 20%; left:0%; top: 18.5%; }
#loc10 { width: 14%; height: 17.5%; left:0%; top: 0%; }
#loc11 { width: 13%; height: 17.5%; left:15.2%; top: 0%; }
#loc12 { width: 13%; height: 17.5%; left:29.0%; top: 0%; }
#loc13 { width: 13%; height: 17.5%; left:43.0%; top: 0%; }
#loc14 { width: 13%; height: 17.5%; left:56.5%; top: 0%; }
#loc15 { width: 13%; height: 19.5%; left:56.5%; top: 18.5%; }

.loc { position: absolute; justify-content: center;  align-items: center; display: flex; flex-direction: column; }

.camel { width: 100%; height: 40%; margin-bottom: -13%; }

#camelBlue { background: url(img/blue.png) center no-repeat;  background-size: contain;}
#camelGreen { background: url(img/green.png) center no-repeat;  background-size: contain;}
#camelWhite { background: url(img/white.png) center no-repeat;  background-size: contain;}
#camelRed { background: url(img/red.png) center no-repeat;  background-size: contain;}
#camelYellow { background: url(img/yellow.png) center no-repeat;  background-size: contain;}

.players { height: 100%; right: 0px; width: 29%; top: 0px; position: absolute; }
.player { height: 25%; position: relative; padding: 10%; }
.name { font-weight: bold; display: block; }
.money {
     font-size: 180%; 
     background: url(img/blank_coin.png) no-repeat; 
     background-size: contain; 
     text-align: center;
     width: 3vw; 
     height: 3vw; 
     line-height: 3vw;
     display: inline-block; 
     color: white; 
     position: absolute;
     right: 10%;
     top: 10%;
}
.cards .card { width: 3vw; height: 3vw; line-height: 3vw; margin-right: 0.3vw; background-size: contain; text-align: center; margin-bottom: 0.3vw; border-radius: 2px; }

.card { display: inline-block; font-size: 150%; }
.card.Blue { background-color: blue; }
.card.Green { background-color: green; }
.card.White { background-color: white; }
.card.Red { background-color: red; }
.card.Yellow { background-color: yellow; }

.winnerbets, .loserbets { display: inline-block; }
.winnerbets .card, .loserbest .card { width: 3.9vw; height: 2.3vw; margin-right:0.3vw; text-align: center; margin-bottom: 0.3vw; line-height: 1.15vw; display: inline-block; font-size:75%; }
.winnerbets .card { border: 0.4vw solid gold; }
.loserbets .card { border: 0.4vw solid gray; }

#dice { position: absolute; left: 23.5%; top: 40%; text-align: center; width: 17.6%; }
#dice li { display: inline-block; margin-right: 5%; margin-bottom: 5%; }
#dice .card { width: 3.9vw; height: 3.9vw; font-size: 200%; border-radius: 30%;  line-height: 3.9vw; text-align: center; }

.player .trap { display: none; }
.loc .trap { width: 7.5vw; height: 7.5vw; font-size: 100%; text-align: center; display: inline-block; }
.loc .trap .value { display: none; }
.loc .trap.pluss { background: url(img/trap_pluss.jpg) no-repeat; background-size: contain; }
.loc .trap.minus { background: url(img/trap_back.jpg) no-repeat; background-size: contain; }

.player.disqualified { text-decoration: line-through; }
.player.winner { background: lightgreen; }

#debug { display: none; }

#graphContainer { width: 1000px; height: 200px; }