* {
    box-sizing: border-box;
    font-family: Arial;
}

html, body { margin: 0; padding: 0; background-color: #dfdaab; }

hr {
    margin: 3vh 0px;
    border: 0;
    border-bottom: 1px solid #aaa;
}

#body {
    width: 100vh;
    margin: 0 auto;
}

#header {
    text-align: center;
}
#header img {
    width: 50vh;
}

#header.small img {
    width: 30vh;
}

.menu .option {
    margin-bottom: 2vh;
}

h1 {
    font: 3vh Arial;
    font-weight: bold;
    text-align: center;
}

h2 {
    font: 2vh Arial;
    font-weight: bold;
}

.menu .option {
    line-height: 2vh;
}

.menu .option button, .menu .option input[type=button], .menu .option input[type=submit] {
    width: 100%;
    padding: 1.5vh;
    border: 1px solid #888;
    border-radius: 1vh;
    background-color: #cca;
    font-size: 2vh;
}

.menu .option select {
    width: 100%;
    padding: 1.5vh;
    border: 1px solid #888;
    background-color: #eee;
    font-size: 2vh;
}

.menu .option button.alternative {
    margin-left: 4vh;
    width: 20%;
}

.menu .option button:hover, .menu .option input[type=button]:hover, .menu .option input[type=submit]:hover {
    background-color: #ffc;
}

.menu .option input[type=checkbox] {
    width: 3vh;
    height: 3vh;
    border: 1px solid #888;
    border-radius: 1vh;
    background-color: #cca;
}

.menu .option input[type=number] {
    width: 25%;
    font-size: 2vh;
    padding: 1.5vh;
    border: 1px solid #888;
    border-radius: 1vh;
    background-color: #eee;
}

.menu .option input[type=text] {
    width: 100%;
    font-size: 2vh;
    padding: 1.5vh;
    border: 1px solid #888;
    border-radius: 1vh;
    background-color: #eee;
}

.menu .option label {
    width: 100%;
    vertical-align: middle; 
}

.menu .option label span {
    display: inline-block;
    font-size: 2vh;
    height: 4vh;
    vertical-align: middle; 
}

.menu .option ul.selector { 
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu .option ul.selector li { 
    font-size: 2vh;
    list-style: none;
    margin: 0px;
    padding: 2vh;
    margin-right: 2%;
    margin-bottom: 2%;  
    width: 47.5%;
    border: 1px solid #999;
    display: inline-block;
    background-color: #eee;
}

.menu .option ul.selector li:hover { 
    cursor: pointer;
}

.menu .option ul.selector li.on {
    background-color: #dfd;
}

.menu { margin: 1vh; }

.menu ul.standings li {
    list-style: number;
    display: block;
    padding: 1vh 2vh;
    border-left: 1.5vh solid #aaa;
    margin: 1.5vh;
    font-size: 2vh;
}

.menu ul.standings li .name { font-weight: normal; font-size: 2vh; display: inline-block; line-height: 3vh; }
.menu ul.standings li.winner .name { font-weight: bold; font-size: 3vh; }
.menu ul.standings li .wins { font-size: 2vh; display: block; line-height: 3vh; text-align: right; float: right; }

ul, li { margin: 0px; padding: 0px; list-style: none; }
#container { height: 100vh; width: 169.5vh; display: inline-block; }
#board { width: 100%; background: url(img/bg.jpg) no-repeat; background-size: contain; position: relative; font: 0.03em Arial; overflow: hidden; }
#boardRatio { width: 100%; padding-bottom: 59%; z-index: -10; }

#loc0 { width: 13%; height: 20%; left:56.5%; top: 39%; }
#loc1 { width: 13%; height: 20%; left:56.5%; top: 60.0%; }
#loc2 { width: 13%; height: 18.0%; left:56.5%; top: 82%; }
#loc3 { width: 12.5%; height: 18.0%; left:43.0%; top: 82%; }
#loc4 { width: 12.5%; height: 18.0%; left:29.5%; top: 82%; }
#loc5 { width: 12.5%; height: 18.0%; left:15.2%; top: 82%; }
#loc6 { width: 14%; height: 18.0%; left:0%; top: 82%; }
#loc7 { width: 14%; height: 20%; left:0%; top: 60.0%; }
#loc8 { width: 14%; height: 20%; left:0%; top: 39%; }
#loc9 { width: 14%; height: 20%; left:0%; top: 18.5%; }
#loc10 { width: 14%; height: 17.5%; left:0%; top: 0%; }
#loc11 { width: 13%; height: 17.5%; left:15.2%; top: 0%; }
#loc12 { width: 13%; height: 17.5%; left:29.0%; top: 0%; }
#loc13 { width: 13%; height: 17.5%; left:43.0%; top: 0%; }
#loc14 { width: 13%; height: 17.5%; left:56.5%; top: 0%; }
#loc15 { width: 13%; height: 19.5%; left:56.5%; top: 18.5%; }

.loc {  
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column; 
}

.camel { width: 100%; height: 40%; margin-bottom: -13%; z-index: 100; }

#camelBlue { background: url(img/blue.png) center no-repeat;  background-size: contain;}
#camelGreen { background: url(img/green.png) center no-repeat;  background-size: contain;}
#camelWhite { background: url(img/white.png) center no-repeat;  background-size: contain;}
#camelRed { background: url(img/red.png) center no-repeat;  background-size: contain;}
#camelYellow { background: url(img/yellow.png) center no-repeat;  background-size: contain;}

.players {
    height: 100%; 
    right: 0px; 
    width: 29%; 
    top: 0px; 
    position: absolute; 
}

.player.p0 { background: url(img/p1.png) no-repeat; } 
.player.p1 { background: url(img/p2.png) no-repeat; } 
.player.p2 { background: url(img/p3.png) no-repeat; } 
.player.p3 { background: url(img/p4.png) no-repeat; } 
.player.p4 { background: url(img/p5.png) no-repeat; } 
.player.p5 { background: url(img/p6.png) no-repeat; } 

.player { 
    height: 25%; 
    position: relative;
    padding: 5%;
    border-bottom: 1px solid gray;  
    background-size: 15% !important; 
    background-position: 3% 10% !important; 
}

.name { padding-left: 15%; font-weight: bold; display: block; font-size: 90%; }
.money {
     font-size: 100%; 
     background: url(img/blank_coin.png) no-repeat; 
     background-size: contain; 
     text-align: center;
     width: 5vh; 
     height: 5vh; 
     line-height: 5vh;
     display: inline-block; 
     color: white; 
     position: absolute;
     right: 5%;
     top: 5%;
}
.cards .card { width: 5vh; height: 5vh; line-height: 5vh; margin-right: 0.5vh; background-size: contain; text-align: center; margin-bottom: 0.5vh; border-radius: 0.5vh; }

.card { display: inline-block; font-size: 100%; }
.card.Blue { background-color: rgb(80, 182, 223); }
.card.Green { background-color: rgb(96, 230, 63); }
.card.White { background-color: white; }
.card.Red { background-color: rgb(241, 67, 55); }
.card.Yellow { background-color: yellow; }

.winnerbets, .loserbets { display: inline-block; }
.winnerbets .card, .loserbets .card { 
    width: 11vh; height: 4vh;
    margin-right:0.5vh; 
    text-align: center;
    margin-bottom: 0.5vh; 
    line-height: 3vh;
    display: inline-block; 
    font-size: 0px;
    background-size: contain !important;
}

.winnerbets .card.Blue { background: url(img/blue.png) no-repeat 65%, url(img/crown.png) no-repeat; }
.winnerbets .card.Green { background: url(img/green.png) no-repeat 65%, url(img/crown.png) no-repeat; }
.winnerbets .card.White { background: url(img/white.png) no-repeat 65%, url(img/crown.png) no-repeat; }
.winnerbets .card.Red { background: url(img/red.png) no-repeat 65%, url(img/crown.png) no-repeat; }
.winnerbets .card.Yellow { background: url(img/yellow.png) no-repeat 65%, url(img/crown.png) no-repeat; }

.loserbets .card.Blue { background: url(img/blue.png) no-repeat 65%, url(img/snail.png) no-repeat; }
.loserbets .card.Green { background: url(img/green.png) no-repeat 65%, url(img/snail.png) no-repeat; }
.loserbets .card.White { background: url(img/white.png) no-repeat 65%, url(img/snail.png) no-repeat; }
.loserbets .card.Red { background: url(img/red.png) no-repeat 65%, url(img/snail.png) no-repeat; }
.loserbets .card.Yellow { background: url(img/yellow.png) no-repeat 65%, url(img/snail.png) no-repeat; }

#dice { position: absolute; left: 23.5%; top: 40%; text-align: center; width: 17.6%; }
#dice li { display: inline-block; margin-right: 5%; margin-bottom: 5%; }
#dice .card { width: 7.5vh; height: 7.5vh; font-size: 200%; border-radius: 30%;  line-height: 7vh; text-align: center; }

.player .trap { display: none; }
.loc .trap {
    width: 18vh;
    height: 18vh;
    text-align: center; 
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    font-size: 75%;
    background-position: center !important; 
}
.loc .trap .value { font-size: 0px; display: block; width: 100%; height: 100%; position: absolute; z-index: 60; }
.loc .trap .owner { font-size: 0px; display: block; width: 32%; height: 32%; position: absolute; bottom: 10%; right: 5%; z-index: 55; }
.loc .trap.pluss .value { background: url(img/trap_pluss.png) no-repeat; background-size: contain; }
.loc .trap.minus .value { background: url(img/trap_back.png) no-repeat; background-size: contain; }

.loc .trap.p0 .owner { background: url(img/p1.png) no-repeat; background-size: contain;  }
.loc .trap.p1 .owner { background: url(img/p2.png) no-repeat; background-size: contain;  }
.loc .trap.p2 .owner { background: url(img/p3.png) no-repeat; background-size: contain;  }
.loc .trap.p3 .owner { background: url(img/p4.png) no-repeat; background-size: contain;  }

.player.disqualified { text-decoration: line-through; }
.player.winner { 
    background: #f5db92 url(img/crown.png) no-repeat center;
    background-size: 25%; 
}

.player .progress {
    height: 1.5vh;
    background-color: #999999;
    border-radius: 1vh;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.player .progress .value {
    height: 100%;
    background-color: green;
    border-radius: 1vh;
}

#debug { display: none; }